# Direct Framework - Under MIT license
# The following lines are critical for the good working of the framework.
# Please do NOT remove any!

Options +FollowSymlinks
RewriteEngine On

# Access assets (images/css/js...).
RewriteRule assets((/(.*)[.]([a-zA-Z]){1,4}){1,}) Components/assets$1 [L]

# Allows to create routes.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) Components/Router.php?url=$1

# Used for index.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ Components/Router.php?index [L]